<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="foo">
		<!-- 1. 配置数据库信息 -->
		<!-- 方言(连接的数据库类型) -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>

		<!-- 2. 其他配置 -->
		<!-- 显示生成的SQL语句 -->
		<property name="hibernate.show_sql">true</property>
		<!-- 格式化生成的SQL语句 -->
		<property name="hibernate.format_sql">true</property>
		<!-- 自动生成表结构 create/update/create-drop/validate -->
		<property name="hbm2ddl.auto">update</property>


		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

		<!-- C3P0连接池的配置 -->
		<property name="hibernate.c3p0.max_size">20</property> <!-- 最大连接数 -->
		<property name="hibernate.c3p0.min_size">5</property> <!-- 最小连接数 -->
		<property name="hibernate.c3p0.timeout">120</property> <!-- 超时时间 -->
		<property name="hibernate.c3p0.idle_test_period">3000</property> <!-- 空闲连接(等待)时间，以秒为单位 -->



		<!-- 3.如果用的是配置文件的方式 此处配置配置文件； 如果用的是注解的方式 ，此处配置的注解的类的全称 导入映射文件 /testpython/src/com/esage/hibernate/bean/User.hbm.xml -->
		<!-- <mapping resource="com/esage/hibernate/bean/User.hbm.xml" /> -->
		<mapping resource="com/esage/hibernate/bean/Employee.hbm.xml" />
		<mapping resource="com/esage/hibernate/bean/Department.hbm.xml" />
		<mapping class="com.esage.hibernate.bean.Book" />
		<mapping class="com.esage.hibernate.bean.Person" />
		<mapping class="com.esage.hibernate.bean.Order" />
		<mapping class="com.esage.hibernate.bean.Customer" />
		<mapping class="com.esage.hibernate.bean.Student" />
		<mapping class="com.esage.hibernate.bean.Teacher" />

<mapping class="com.esage.hibernate.bean.IDCard" />
		<mapping class="com.esage.hibernate.bean.User1" />

		<mapping class="com.esage.hibernate.bean.Wife" />
		<mapping class="com.esage.hibernate.bean.Husband" />

	</session-factory>
</hibernate-configuration>