<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="foo">
		<!-- 1. 配置数据库信息 -->
		<!-- 方言(连接的数据库类型) -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://192.168.1.180:3306/test</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">esage2020</property>

		<!-- 2. 其他配置 -->
		<!-- 显示生成的SQL语句 -->
		<property name="hibernate.show_sql">true</property>
		<!-- 格式化生成的SQL语句 -->
		<property name="hibernate.format_sql">true</property>
		<!-- 自动生成表结构 /update/create-drop/validate -->
		<property name="hbm2ddl.auto">update</property>
		<!-- 3. 导入映射文件 /testpython/src/com/esage/hibernate/bean/User.hbm.xml -->
		<!-- <mapping resource="com/esage/hibernate/bean/User.hbm.xml" /> -->

	</session-factory>
</hibernate-configuration>